<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Drivers</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            color: #000;
        }
    </style>
</head>
<body>

<h1>Login</h1>
<br/>

<form th:action="@{/users/login}" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="name" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>



</form>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
</body>
</html>